<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autor</title>
</head>
<body>
    <header>
        <h1>Monalisa Silva Costa</h1>
    </header>
    <section>
        <h2>Formação</h2>
        <ul>
            <li>Técnico em Informática para Internet</li>
            <li>IFCE Tinaguá</li>
            <li>2024</li>
        </ul>
    </section>
    <section>
        <h2>Experiências</h2>
        <ul>
            <li>Disciplina WEB II</li>
            <li>2° Semestre</li>
        </ul>
    </section>
</body>
    <a href="{% url 'index' %}">Voltar para cálculo</a>
</html>