<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>index </title>
</head>
<body>
    <h1>Seja Bem-Vindo</h1>
    <h3>Vamos estudar um pouco sobre o Teorema de Pitágoras. O teorema de Pitágoras relaciona as medidas dos lados de um triângulo retângulo. Seu enunciado é: o quadrado da hipotenusa é igual à soma dos quadrados dos catetos.</h3>
    <form method="post" action="{% url 'resultado' %}">
    {% csrf_token %}
        <label for="cat1">Cateto 1:</label>
        <input type="text" id="cat1" name="cat1"><br><br>
        <label for="cat2">Cateto 2:</label>
        <input type="text" id="cat2" name="cat2"><br><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>
